.comment {
  display: block;

  &__employee {
    background-color: $light;
  }

  &__employee:before {
    right: auto;
    left: 99.5%;
    border-right: none;
    border-left: 1.25em solid #ccc;
  }

  &__employee:after {
    right: auto;
    left: 99.5%;
    border-right: none;
    border-left: 1.24em solid $light;
  }
}
.field--name-field-dispute {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;

  .comment-form {
    .js-form-item-comment-body-0-value label {
      display: none;
    }
  }
}