#doc-request-container {

  .field {
    margin-bottom: 0;
  }

  .field__label {
    font-weight: 900;
  }

}

.doc-request-doc-request-process-form {

  fieldset label {
    font-weight: 900;
  }

  .js-form-type-managed-file label {
    display: none;
  }
  
}

.doc-request-dispute {

  .field__label {
    font-weight: 900;
  }

}